{% extends "equipamento/baseequipamento.html" %}

{% block equipamentotitle %} LK - Equipamento {% endblock %}

{% block equipamento %}
<div class="container-fluid">
    <h1 class="mt-4">Equipamento</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/painel">Painel</a></li>
        <li class="breadcrumb-item"><a href="/equipamento">Equipamento</a></li>
        <li class="breadcrumb-item active">Cadastrar Equipamento</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body" >
            
            <form>

                <div class="form-group" >
                    <label for="exampleFormControlSelect1">Cliente</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Cliente 1</option>
                      <option>Cliente 2</option>
                      <option>Cliente 3</option>
                    </select>
                </div>

                <div class="form-group">
                  <label for="exampleFormControlInput1">Nome</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nome">
                </div>
                
                <div class="form-row">

                    <div class="col-md-4 mb-3">
                        <label for="validationDefault01">Placa</label>
                        <input type="text" class="form-control" id="validationDefault01" placeholder="Placa" value="Placa" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationDefault02">Marca</label>
                        <input type="text" class="form-control" id="validationDefault02" placeholder="Marca" value="Marca" required>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="validationDefault03">Modelo</label>
                        <input type="text" class="form-control" id="validationDefault02" placeholder="Modelo" value="Modelo" required>
                    </div>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Observações</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}